@{
    ViewData["Title"] = "Inicio";
}
<link rel="stylesheet" type="text/css" href="@Url.Content("~/lib/slick-1.8.1/slick/slick.css")" />
<link rel="stylesheet" type="text/css" href="@Url.Content("~/lib/slick-1.8.1/slick/slick-theme.css")" />
<link rel="stylesheet" href="@Url.Content($"~/css/index.css")" />
<div>
    <div class="mx-5 mt-5">
        <h1 class="text-center font-weight-bold">Bienvenido a RVS Hidráulica</h1>
        <p class="mt-4">
            Somos una empresa joven donde priorizamos el servicio para dar soluciones en el rubro de la hidráulica.
        </p>
        <p>
            Nos enfocamos en la <strong>reparación</strong>, <strong>venta</strong> y <strong>asesoramiento técnico</strong> de equipos oleohidráulicos. Trabajamos con un grupo importante de marcas nacionales e importadas según la necesidad del cliente.
        </p>
    </div>
    <div class="mt-5 carousel w-100">
        <div>
            <img src="@Url.Content($"~/img/c1.jpg")">
        </div>
        <div>
            <img src="@Url.Content($"~/img/c2.jpg")">
        </div>
        <div>
            <img src="@Url.Content($"~/img/c3.jpg")">
        </div>
        <div>
            <img width="50%" src="@Url.Content($"~/img/c4.jpg")">
        </div>
    </div>
    <div class="deg d-flex align-items-center">
        <p class="text-right col col-md-6 ml-auto mr-5 font-weight-bold">
            Nos ponemos a vuestra
            disposición para ofrecerles las más amplias gamas de soluciones a sus necesidades.
        </p>
    </div>
</div>
@section Scripts{
    <script src="@Url.Content("~/lib/slick-1.8.1/slick/slick.min.js")"></script>
    <script src="@Url.Content("~/js/index.js")"></script>
}


